# Autovillage webscraper

Within this notebook i will be making a script that will crawl and scrape
this [website](https://www.autovillage.co.uk/used-car/filter/bodystyle/saloon). <br>
My goal is to create a data frame with the below features: <br>
1. make - cars brand
2. model - cars model
3. doors - # of doors the car has
4. body_type - saloon, hatchback, sport, suv, etc
5. transmission - automatic or manual
6. Mileage - # of miles on the odometer
7. engine_size - in cc
8. price - in £
9. year - car's year of registration

My plan of action is to parse into the elements I want on my web page, reverse engineer a for loop based off the containers I make, and use an array to store my data.

### The packages I will use:

In [1]:
# dataframe
import pandas as pd
import numpy as np

# Webscraping libraries
from urllib.request import urlopen # url inspector
from bs4 import BeautifulSoup
import re
from selenium import webdriver # connects to chrome browser
import warnings
warnings.filterwarnings('ignore')

# Web crawler imports
import requests
from requests import get

# Web crawlers random seeds/time delays
from time import sleep
from random import randint

# image viewer for cell outputs
from IPython.display import display, Markdown, Latex, Image, display_html, HTML

## Establishing a connection
I will start by establishing a connection to the website autovilliage this will allow me to send and read responses.

In [2]:
# establish my url as a string
my_url = 'https://www.autovillage.co.uk/used-car/filter/bodystyle/saloon'

In [3]:
my_client = urlopen(my_url) # open up a connection to the webpage
autovillage_page =my_client.read() # reads all the html from the webpage

## Parse the HTML

Parsing allows me to read the response object html syntax as a giant string which python can handle.

In [4]:
# HTML parsing
page_soup = BeautifulSoup(autovillage_page, "html.parser")

In [5]:
page_soup.h1 # can view tags just by passing tag onto the soup

## Traverse the HTML
Capture exactly the elements I want by inspecting the web page code. Once I found the exact points within the HTML code I want to reference, I can save them as variables and reference them as containers in my for loops.

In [ ]:
page_soup.body # run this if you are a saddist and want to view the entire webpage html code or else use inspector on your web browser

### Create container
The container is the html code that houses exactly what we need.

In [7]:
# only focus on the html code that contains the info that's important to me
# thats important for me
container = page_soup.findAll("div", {"class":"ucatid20"}) # found the ucatid20 tag from inspecting webpage and selecting the entire container=

In [8]:
# check how many containers there are (should be 10 since 10 cars)
len(container)

10

It found 10 of my cars on the page this is correct as I know visually there are 10 cars listed on each of the webpages.

### The images
For fun I will webscrape the images and loop the outputs. This will be a good starting base to structure my web scraper on.

In [9]:
# I will index into the html code that contains the images
container[0].findAll("div", {"class":"mb5"})[0].img
# change first number index to swap cars

In [10]:
# finds the images of the cars index into 1 car of the container and specify only the img flags within the containers html code
image = container[0].findAll("div", {"class":"mb5"})

# use ipython display to view the html/yml code as an output cell
display(HTML(str(image[0].img)))

great! the parsing worked now lets loop!

In [11]:
# a for loop that iterates over all 10 containers and returns the images using ipython display output

for item in range(0,len(container)):
    display(HTML(str(container[item].findAll("div", {"class":"mb5"})[0].img)))

## Parse containers
Now that my little demo worked, I can parse into the features I will need for my Data Frame. I will still be using the alinkContainer as I found that the website seems to store its car details in that container.

Just as above, I will test by parsing into 1 car container and once I get it right I will reverse engineer a for loop to iterate over all of the containers.

In [12]:
# use this container for our car names potentially
name_container = page_soup.findAll("div", {"class":"alinkContainer"})

In [13]:
# this is one path to get the name of the car but it might not be optimal
name_container[0].div.a

<a href="/used-car/bmw/5-series/mtz_67056_56381734">
BMW 5 Series 520d xDrive M Sport 4dr Auto</a>

In [14]:
# price
pricing = name_container[1].findAll("div", {"class": "avprice"}) # our prices
pricing

In [15]:
# This container houses the price of the car's it is seperate from the other containers that house the details.
pricing2 = name_container[1].find("div", class_="avprice") # our prices
pricing2 # this method allows you to chain more find/findall commands without returning error

## Parsing into my features
All of my features except price are in the same class:item flag. The only thing required is to index into the correct feature using python indexing.

In [16]:
# year + name 
year_name_model_html = container[0].div.findAll("div", {"class":"item"})[0]
year_name_model_html

<div class="item">
2018 BMW 5 Series

</div>

In [17]:
# engine + transmission
eng_tran_html = container[0].div.span
eng_tran_html

In [18]:
# door + body type
door_body_html = container[0].div.findAll("div", {"class":"item"})[2].span
door_body_html#.get_text()

In [19]:
# Mileage
mileage_html = container[0].div.findAll("div", {"class":"item"})[3].span
mileage_html#.get_text()

Great! I found all of my features. The code above will help me create my scraper.

## Looping my containers
In this section, I will create for loops to append lists of elements from my cars container's and create data frame columns. I have already indexed into the right places I just need to iterate them. When I have got to the absolute end of my parsing, I can use the `get_text()` to extract the text. (use this only at the end). `.strip()` removes white space from the code.

In [20]:
container2 = page_soup.findAll("div", {"class":"avprice"})
container2

[<div class="avprice">£25,998</div>,
 <div class="avprice">£28,450</div>,
 <div class="avprice">£11,995</div>,
 <div class="avprice">£17,999</div>,
 <div class="avprice">£10,495</div>,
 <div class="avprice">£26,295</div>,
 <div class="avprice">£1,995</div>,
 <div class="avprice">£36,090</div>,
 <div class="avprice">£7,000</div>,
 <div class="avprice">£27,490</div>]

In [21]:
price =[] # car price
year_make_model =[] # year made, brand name, model
eng_tran =[] # engine size and transmission type
door_body =[] # number of doors and body style
mileage =[] # number of miles on the odometer

# loop within container2 and return just the text
for item in container2:
    
    #price
    price.append(item.text)
    
for item in range(0,len(container)):
    
    #year, make, and model
    car_names= container[item].div.findAll("div", {"class":"item"})[0]
    year_make_model.append(car_names.get_text().strip())
    
    #engine size and transmission type
    tran = container[item].div.span
    eng_tran.append(tran.get_text())
    
    # number of doors and car body type
    door_bod = container[item].div.findAll("div", {"class":"item"})[2].span
    door_body.append(door_bod.get_text())
    
    # Car mileage
    car_mileage = container[item].div.findAll("div", {"class":"item"})[3].span
    mileage.append(car_mileage)

In [22]:
# Check to see if the features turned out alright
price

['£25,998',
 '£28,450',
 '£11,995',
 '£17,999',
 '£10,495',
 '£26,295',
 '£1,995',
 '£36,090',
 '£7,000',
 '£27,490']

In [23]:
# lets count how many cars we have in our features it should be 10
print("Rows in price:",len(price))
print("Rows in mileage:",len(mileage))
print("Rows in door count/body style:",len(door_body))
print("Rows in engine size/transmission:",len(eng_tran))
print("Rows in year/make/model:",len(year_make_model))

Rows in price: 10
Rows in mileage: 10
Rows in door count/body style: 10
Rows in engine size/transmission: 10
Rows in year/make/model: 10

## Make Our data frame
Test our webscraper by making a data frame practice run.

In [24]:
car_df = pd.DataFrame({'price':price, 
                       'mileage':mileage, 
                       'door/body':door_body, 
                       'eng/tran':eng_tran, 
                       'year/make/model':year_make_model})

In [25]:
car_df

,price,mileage,door/body,eng/tran,year/make/model
0,"£25,998","[ 19,479 miles]",4 Door Saloon,1995cc Automatic,2018 BMW 5 Series
1,"£28,450","[ 36,000 miles]",4 Door Saloon,4395cc Automatic,2016 BMW M5
2,"£11,995","[ 63,910 miles]",4 Door Saloon,2179cc Automatic,2014 Jaguar XF
3,"£17,999","[ 13,503 miles]",4 Door Saloon,1995cc Manual,2018 BMW 3 Series
4,"£10,495","[ 61,000 miles]",4 Door Saloon,1968cc Manual,2016 Volkswagen Passat
5,"£26,295",[ 10 miles],4 Door Saloon,2191cc Manual,2019 Mazda 6
6,"£1,995","[ 110,000 miles]",4 Door Saloon,1910cc Manual,2009 Saab 9-5
7,"£36,090",None,4 Door Saloon,1998cc Automatic,2019 BMW 3 Series
8,"£7,000","[ 98,000 miles]",4 Door Saloon,2987cc Automatic,2011 Mercedes-Benz C Class
9,"£27,490","[ 8,900 miles]",4 Door Saloon,2000cc Automatic,2019 Audi A4

Great! the webscraper worked! but this is only effective for 1 page. We need to set up a webcrawler to do many other pages.

## Save DF
Testing save for DF.

In [ ]:
save_path = '../Raw-Data/car_practice.csv'

In [ ]:
car_df.to_csv(save_path)

## Creating My Webcrawler
Now that I know everything works on each webpage, I will automate the process of scraping my web pages by creating a webcrawler.

A crawler essentially goes through each page and applies your web scraper. It's very handy as I plan on using a few thousand cars for my data set.

In [26]:
# set up crawler

# this line of code takes my first webpage and iterates into my defined page range
for i in range(0,150): #range of pages to scrape
    url= 'https://www.autovillage.co.uk/used-car/page/{}/filter/bodystyle/saloon'.format(i)
    html= urlopen(url)
    autovillage_page= html.read()
    soup= BeautifulSoup(autovillage_page, "html.parser")
    
    # Define my containers so I can reference them in below loops
    container= page_soup.findAll("div", {"class":"ucatid20"})
    container2= page_soup.findAll("div", {"class":"avprice"})
    
    # iterate into my price container
    for item in container2:
        # create price feature
        price.append(item.text)
        
    # iterate into my other features container   
    for item in range(0,len(container)):
    
        #year, make, and model
        car_names= container[item].div.findAll("div", {"class":"item"})[0]
        year_make_model.append(car_names.get_text().strip())
    
        #engine size and transmission type
        tran = container[item].div.span
        eng_tran.append(tran.get_text())
    
        # number of doors and car body type
        door_bod = container[item].div.findAll("div", {"class":"item"})[2].span
        door_body.append(door_bod.get_text())
    
        # Car mileage
        car_mileage = container[item].div.findAll("div", {"class":"item"})[3].span
        mileage.append(car_mileage)

Great! the webcrawler worked! Now lets form a data frame out of the arrays.

# Create the Data Frame

In [27]:
# Create the DataFrame
car_df_main = pd.DataFrame({'price':price, 
                       'mileage':mileage, 
                       'door/body':door_body, 
                       'eng/tran':eng_tran, 
                       'year/make/model':year_make_model})

In [28]:
car_df_main

,price,mileage,door/body,eng/tran,year/make/model
0,"£25,998","[ 19,479 miles]",4 Door Saloon,1995cc Automatic,2018 BMW 5 Series
1,"£28,450","[ 36,000 miles]",4 Door Saloon,4395cc Automatic,2016 BMW M5
2,"£11,995","[ 63,910 miles]",4 Door Saloon,2179cc Automatic,2014 Jaguar XF
3,"£17,999","[ 13,503 miles]",4 Door Saloon,1995cc Manual,2018 BMW 3 Series
4,"£10,495","[ 61,000 miles]",4 Door Saloon,1968cc Manual,2016 Volkswagen Passat
...,...,...,...,...,...
1505,"£26,295",[ 10 miles],4 Door Saloon,2191cc Manual,2019 Mazda 6
1506,"£1,995","[ 110,000 miles]",4 Door Saloon,1910cc Manual,2009 Saab 9-5
1507,"£36,090",None,4 Door Saloon,1998cc Automatic,2019 BMW 3 Series
1508,"£7,000","[ 98,000 miles]",4 Door Saloon,2987cc Automatic,2011 Mercedes-Benz C Class
1509,"£27,490","[ 8,900 miles]",4 Door Saloon,2000cc Automatic,2019 Audi A4

It worked! we created our data frame and we can run this script as many times we want to retrieve more cars in the future. This website refreshes it's cars order and I didn't set a random seed so I am unable to replicate this exact dataframe more than once.

## Main Data Frame Save
I will save my main created dataframe as a csv file in my raw data folder. I will then load it into my [Data Cleaning](https://github.com/PaulWill92/cars/blob/master/Jupyter-Notebooks/02-Data_Cleaning.ipynb) notebook and proceed to clean it.

In [31]:
# Create our save directory path
car_save_path = '../Raw-Data/new-saloon.csv'
car_df_main.to_csv(car_save_path) # running this cell multiple times overwrites saves