# Gathering data

I will use my automated webcrawler program to gather and clean my data set so that I can explore it and model on it.

## Imports needed

In [1]:
from webcrawler import autovillage_crawler
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/paulwilliams/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Data acquisition 
With the program I made, I should be able to set my crawler as a variable to be able to play around with the data in a jupyter notebook as a normal pandas data frame. I will use my save feature to save the scraped data frame as a csv file so I can reference it in other jupyter notebooks for data exploration and data cleaning.

In [2]:
df = autovillage_crawler()

     Auto Village Webscraper! - Version 1.1

     A car web scraping program created by Paul Aleksis Williams.

     Program description:


     This programs scrapes cars listed on the autovillage.co.uk website, cleans the
     entries, drops duplicated entries, drops entries with missing values, and
     returns a data frame that contains 1 target variable and 8 features.


     Program inputs:

     1. Input a car manufacturer name or leave blank for all manufacturers.
        please use a hyphen for names with spaces (mercedes-benz)

     2. Input the body style of cars you want to scrape ot leave empty for all.
       options: saloon, hatchback, 4x4, estate, coupe, convertible, mpv. For
       multiple styles seperate input with a comma.

     3. Input the number of pages to scrape there are 10 cars per page. If left
       blank, it will scrape 1 page per body style.

     4. Input a name for the file to save it as a csv in the current directory.
       If left blank, It will not save but you can set it as a variable to view
       the table.


     Program output:


     The function returns a cleaned data frame of cars scraped from autovillage.co.uk
     dropping all the missing values within the websites interface, and removing any
     duplicated cars.


     Program save feature:


     You can leave the save input empty and the file will not be saved.

     You can set a variable for this function in jupyter notebooks and manipulate
     the created pandas object as normal.






Inputs:
------------------------------------------------------------------------------------------------------

Enter a car brand you are interested in (leave blank for all):
Enter a body style (or leave blank for all):
Enter the amount of pages you want to scrape (or leave blank for 1):  150

  0%|          | 0/150 [00:00<?, ?it/s]

ETA of process:
------------------------------------------------------------------------------------------------------
7 cycles of 150 pages:
Expecting: ~ 10500 cars

100%|██████████| 150/150 [01:25<00:00,  1.76it/s]
100%|██████████| 150/150 [02:04<00:00,  1.21it/s]
100%|██████████| 150/150 [01:15<00:00,  1.98it/s]
100%|██████████| 150/150 [01:41<00:00,  1.48it/s]
100%|██████████| 150/150 [01:42<00:00,  1.46it/s]
100%|██████████| 150/150 [01:32<00:00,  1.63it/s]
100%|██████████| 150/150 [01:22<00:00,  1.82it/s]

Output:
------------------------------------------------------------------------------------------------------
Done! you scraped:  9699 cars!
801 cars were dropped due to poor format

Name to save file as (leave blank to not save):  cars3

------------------------------------------------------------------------------------------------------
File saved as cars3.csv in the current directory!

It worked! and my csv is in my directory I will move this to my data cleaning folder.

## Viewing that data frame
I want to see what different brands and body styles of cars that I scraped.

In [3]:
df.head()

,price(£),mileage(mi),door_count,body_style,engine_size(cc),transmission,year,brand,model
0,2481,123000.0,4.0,Saloon,1968.0,Manual,2009.0,Seat,Exeo
1,10000,86800.0,4.0,Saloon,1995.0,Manual,2016.0,BMW,3
3,9495,39000.0,4.0,Saloon,1796.0,Automatic,2011.0,Mercedes-Benz,C
4,22910,25596.0,4.0,Saloon,2993.0,Automatic,2016.0,BMW,6
5,9995,63000.0,4.0,Saloon,1598.0,Manual,2015.0,Volkswagen,Passat

In [4]:
df['body_style'].value_counts()

Hatchback      1424
Estate         1411
MPV            1406
Saloon         1376
4x4            1366
Coupe          1360
Convertible    1356
Name: body_style, dtype: int64

In [5]:
df['brand'].value_counts()

Mercedes-Benz    1326
BMW              1106
Audi              872
Ford              752
Vauxhall          645
Volkswagen        643
Volvo             398
Land-Rover        359
Jaguar            312
Citroen           305
Kia               245
Nissan            244
Peugeot           244
Hyundai           235
Renault           206
Toyota            196
Mini              168
Mazda             161
Seat              138
Fiat              125
Honda             124
Porsche           123
Skoda             119
Mitsubishi         65
Suzuki             64
Lexus              63
Aston-Martin       45
Bentley            45
Ferrari            41
Smart              41
Jeep               40
Dacia              35
Alfa-Romeo         27
Saab               26
Lamborghini        24
Mg                 18
Ds                 17
Subaru             15
Maserati           14
Ssangyong          13
Lotus               9
Infiniti            8
Rolls-Royce         8
Chevrolet           7
Mclaren             5
Triumph             4
Chrysler            4
Dodge               3
Morgan              2
TVR                 2
Austin              1
Noble               1
AC                  1
Lancia              1
Caterham            1
Isuzu               1
Daihatsu            1
Rover               1
Name: brand, dtype: int64

## Conclusion

The webcrawling program I made worked! I am able to use the data gathered from my website to perform exploratory data analysis, and modeling in my other notebooks. Since this program has many features allowing me to scrape specific brands and body styles, I can run this as many times as a want to aquire more data to retrain my model.