# Data Cleaning
In this notebook I will be concatenating my dataframes and cleaning my features. Most of my features are in single columns as strings so I will need to use string manipulation to extract them. <br>
I can use `str.extract()` ,`str.replace()` , and `.astype(int)` to clean my data.

### Library and module Imports
Packages and modules that will aid me in data cleaning.

In [1]:
import pandas as pd
import numpy as np
import glob

import re

import feature_engine as fe

## Import the Data sets
I will be working from multiple csv files so I will begin by storing their directory paths as a variable and using a for loop into the `pd.read_csv()` function , storing them in a temporary container, and finally concatenating them.

In [2]:
# Create path to my data file directory
path= r"../Raw-Data/"

# store that path as a variable
csv_files = glob.glob(path + "/*csv")

# this list of data file directories will be passed into the read_csv function
csv_files

['../Raw-Data/estate.csv',
 '../Raw-Data/mpv.csv',
 '../Raw-Data/car_practice13.csv',
 '../Raw-Data/coupe.csv',
 '../Raw-Data/hatchback.csv',
 '../Raw-Data/car_practice.csv',
 '../Raw-Data/4x4.csv',
 '../Raw-Data/convertible.csv',
 '../Raw-Data/saloon.csv']

In [3]:
# create a container to hold the data frame objects so i can concatenate them into one
df_container= []

for filename in csv_files:
    
    # read each csv as a dataframe
    df = pd.read_csv(filename)
    
    # store each dataframe in our container list
    df_container.append(df)
    
# concatenate out containers    
df = pd.concat(df_container, axis=0, ignore_index=True)

In [4]:
# drop our unnamed column run this cell only once
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
# inspect first 5 rows of df
df.head()

,price,mileage,door/body,eng/tran,year/make/model
0,"£16,499","<span> 47,407 miles</span>",Estate,Manual,2015 Mercedes-Benz C Class
1,"£19,998","<span> 21,249 miles</span>",5 Door Estate,1995cc Automatic,2016 BMW X1
2,"£17,795","<span> 24,468 miles</span>",5 Door Estate,1997cc Automatic,2014 Honda CR-V
3,"£14,500","<span> 45,793 miles</span>",5 Door Estate,1984cc Automatic,2013 Audi Q3
4,"£21,499","<span> 5,295 miles</span>",5 Door Estate,1598cc Manual,2019 Kia Optima

## Feature inspection
In this section, I will look at my multi string features to check if all the cars share similar naming formats. If they don't, it will result in incorrectly placed null values in the future which I will need to deal with later. <br>

Inspect value counts to understand what problems I may run into with the string:

In [6]:
# inspect value counts to understand what problems I may run into with the string

df['door/body'].value_counts()

 4 Door Saloon         1453
 5 Door MPV            1441
 5 Door Estate         1437
 5 Door 4x4            1421
 2 Door Convertible    1373
 5 Door Hatchback      1255
 2 Door Coupe          1027
 3 Door Coupe           233
 3 Door Hatchback       224
 4 Door Coupe           132
 5 Door Coupe            62
 Convertible             57
 Coupe                   46
 MPV                     44
 3 Door Convertible      43
 5 Door Saloon           41
 Estate                  38
 4 Door 4x4              30
 4x4                     26
 Saloon                  25
 5 Door Convertible      23
 Hatchback               18
 3 Door 4x4              15
 4 Door MPV              14
 4 Door Estate           10
 2 Door 4x4               8
 6 Door Estate            8
 3 Door Estate            6
 4 Door Convertible       4
 4 Door Hatchback         2
 2 Door Estate            1
 6 Door MPV               1
 2 Door Saloon            1
 2 Door Hatchback         1
Name: door/body, dtype: int64

I noticed that I can just drop the `Door` part of the string since I only need the door count and body style. I also noticed that some car's don't have door counts. This will lead in incorrect null values inside my future created body feature when they really should be null in my door column.

In [7]:
df['eng/tran'].value_counts()

1968cc Manual        508
1598cc Manual        505
2000cc Automatic     443
1995cc Automatic     333
2143cc Automatic     332
                    ...
2460cc Automatic       1
2148cc Manual          1
3724cc Manual          1
1840cc Manual          1
900cc Automatic        1
Name: eng/tran, Length: 533, dtype: int64

The same case with engine size and transmission column. I can drop cc since I only need the number not unit measure. Some cars have no entry for engine size which will give me problems later on.

In [8]:
df['year/make/model'].value_counts()

2019 Mercedes-Benz C Class    111
2016 Mercedes-Benz C Class     85
2017 Mercedes-Benz C Class     83
2019 Mercedes-Benz E Class     61
2019 Volvo XC60                58
                             ...
2007 Ford Galaxy                1
2018 Audi R8                    1
Audi Q7                         1
2019 Audi A7                    1
2019 Aston Martin DBS           1
Name: year/make/model, Length: 2745, dtype: int64

For the year/make/model column, My problem will be from the mercedes benz cars. I can drop the `Class` string and rename it later on. I have a couple of cars that do not provide me with years but give me the make.

## Feature Extraction
In this section I will be doing some __feature engineering__. This data frame has a few features (as strings) inside of single columns. In this section, my goal is to extract the features from the strings and give them their own columns.

All of the data types of my features are objects (i need them to be strings, integers or floats). <br>
I will convert the price column from an object to a string, remove the white space and £ sign then convert it into an integer.

String manipulation consists of this format: `df['column_name'].str.string-manipulation-function()`.

In [9]:
# remove my pound signs and commas from the price column

df['price'] = df['price'].str.replace("£|,","")

# remove span html flags from mileage

df['mileage'] = df['mileage'].str.replace("<span>|</span>|miles|,", "")

# remove door from door/body
df['door/body'] = df['door/body'].str.replace("Door", "")

# remove cc from eng (may convert this to litres later)
df['eng/tran'] = df['eng/tran'].str.replace("cc", "")

# remove class from mercedes so that it can follow a year-model-class format like the other cars do
df['year/make/model'] = df['year/make/model'].str.replace("Class", "")
df['year/make/model'] = df['year/make/model'].str.replace("Land Rover", "Land-Rover")
df['year/make/model'] = df['year/make/model'].str.replace("Range Rover Sport", "Range-Rover-Sport")
df['year/make/model'] = df['year/make/model'].str.replace("Discovery Sport", "Discovery-Sport")
df['year/make/model'] = df['year/make/model'].str.replace("Aston Martin", "Aston-Martin")
df['year/make/model'] = df['year/make/model'].str.replace("Alfa Romeo", "Alfa-Romeo")

df.head()

   price  mileage   door/body         eng/tran        year/make/model
0  16499   47407       Estate          Manual   2015 Mercedes-Benz C
1  19998   21249    5  Estate  1995 Automatic             2016 BMW X1
2  17795   24468    5  Estate  1997 Automatic         2014 Honda CR-V
3  14500   45793    5  Estate  1984 Automatic            2013 Audi Q3
4  21499    5295    5  Estate     1598 Manual         2019 Kia Optima

## Splitting features
In this section, I will use string manipulation technique `split(expand=True)` to split my strings up and create new columns for them.

In [10]:
# split door count and body style

df[['door_count','body_style']]= df['door/body'].str.split(expand=True)

# split engine size and transmission

df[['engine_size(cc)', 'transmission']] = df['eng/tran'].str.split(expand=True)

# split year , make, and model into seperate columns

df['year'] = df['year/make/model'].str.split(' ', expand=True)[0]
df['brand'] = df['year/make/model'].str.split(' ', expand=True)[1]
df['model'] = df['year/make/model'].str.split(' ', expand=True)[2]

In [11]:
df.head()

,price,mileage,door/body,eng/tran,year/make/model,door_count,body_style,engine_size(cc),transmission,year,brand,model
0,16499,47407,Estate,Manual,2015 Mercedes-Benz C,Estate,None,Manual,None,2015,Mercedes-Benz,C
1,19998,21249,5 Estate,1995 Automatic,2016 BMW X1,5,Estate,1995,Automatic,2016,BMW,X1
2,17795,24468,5 Estate,1997 Automatic,2014 Honda CR-V,5,Estate,1997,Automatic,2014,Honda,CR-V
3,14500,45793,5 Estate,1984 Automatic,2013 Audi Q3,5,Estate,1984,Automatic,2013,Audi,Q3
4,21499,5295,5 Estate,1598 Manual,2019 Kia Optima,5,Estate,1598,Manual,2019,Kia,Optima

# Drop Features
In this section, I will drop my unneeded columns left over from doing the feature split.

In [12]:
# run this only once
df.drop(labels=['door/body','eng/tran', 'year/make/model'], axis=1, inplace=True)

In [13]:
df.head()

,price,mileage,door_count,body_style,engine_size(cc),transmission,year,brand,model
0,16499,47407,Estate,None,Manual,None,2015,Mercedes-Benz,C
1,19998,21249,5,Estate,1995,Automatic,2016,BMW,X1
2,17795,24468,5,Estate,1997,Automatic,2014,Honda,CR-V
3,14500,45793,5,Estate,1984,Automatic,2013,Audi,Q3
4,21499,5295,5,Estate,1598,Manual,2019,Kia,Optima

## Rename Features 
In this section, I will rename features to include their unit measures. I am doing this so that it can be interpretable later on after my regression models.

In [14]:
# fix corvette name error in df
df['brand'] = df['brand'].str.replace("Corvette", "Chevrolet")
df['model'] = df['model'].str.replace("C7", "Corvette-C7")

In [15]:
df.rename(columns={"mileage": "mileage(mi)", "price":"price(£)"}, inplace=True)

In [16]:
df.head()

,price(£),mileage(mi),door_count,body_style,engine_size(cc),transmission,year,brand,model
0,16499,47407,Estate,None,Manual,None,2015,Mercedes-Benz,C
1,19998,21249,5,Estate,1995,Automatic,2016,BMW,X1
2,17795,24468,5,Estate,1997,Automatic,2014,Honda,CR-V
3,14500,45793,5,Estate,1984,Automatic,2013,Audi,Q3
4,21499,5295,5,Estate,1598,Manual,2019,Kia,Optima

## Correcting dtypes for features
In this section I will be assigning the correct data types for each of my features. It is important to do because in the future I will run into problems with modeling if I don't.

In [19]:
# inspect data types of my features
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10520 entries, 0 to 10519
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price(£)         10520 non-null  object
 1   mileage(mi)      10506 non-null  object
 2   door_count       10520 non-null  object
 3   body_style       10266 non-null  object
 4   engine_size(cc)  10520 non-null  object
 5   transmission     10213 non-null  object
 6   year             10520 non-null  object
 7   brand            10520 non-null  object
 8   model            10328 non-null  object
dtypes: object(9)
memory usage: 739.8+ KB

In [20]:
# convert price to an integer
df['price(£)'] = pd.to_numeric(df['price(£)'], errors='coerce')

# convert mileage to an integer
df['mileage(mi)'] = pd.to_numeric(df['mileage(mi)'], errors='coerce')

# convert doors to an integer
df['door_count'] = pd.to_numeric(df['door_count'], errors='coerce')

# convert engine_size to integer
df['engine_size(cc)'] = pd.to_numeric(df['engine_size(cc)'], errors='coerce')

# convert year to integer
df['year'] = pd.to_numeric(df['year'], errors='coerce')

Check to see if the data type conversions worked.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10520 entries, 0 to 10519
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price(£)         10520 non-null  int64
 1   mileage(mi)      10506 non-null  float64
 2   door_count       10266 non-null  float64
 3   body_style       10266 non-null  object
 4   engine_size(cc)  10213 non-null  float64
 5   transmission     10213 non-null  object
 6   year             10255 non-null  float64
 7   brand            10520 non-null  object
 8   model            10328 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 739.8+ KB

## Drop nulls
In this section I will drop the nulls so that I can convert my data types in the future without any issues.

In [22]:
# Check for null values and sum them
print(df.isna().sum())
print("Total nulls:", df.isna().sum().sum())

price(£)             0
mileage(mi)         14
door_count         254
body_style         254
engine_size(cc)    307
transmission       307
year               265
brand                0
model              192
dtype: int64
Total nulls: 1593

In [23]:
# drop nulls run once
df.dropna(axis=0, inplace=True)

In [24]:
# Check again
print(df.isna().sum())
print("Total nulls:", df.isna().sum().sum())

price(£)           0
mileage(mi)        0
door_count         0
body_style         0
engine_size(cc)    0
transmission       0
year               0
brand              0
model              0
dtype: int64
Total nulls: 0

In [25]:
# check rows and columns shape after the drops
print("Rows:",df.shape[0])
print("Columns:",df.shape[1])

Rows: 9886
Columns: 9

## Handle Duplicates

In [26]:
# check all columns for rows that are duplicate
df.duplicated().sum()

257

In [27]:
# drop duplicate
df.drop_duplicates(keep='first', inplace=True)

In [28]:
# check all columns for rows that are duplicate
df.duplicated().sum()

0

In [29]:
# check rows and columns shape after the drops
print("Rows:",df.shape[0])
print("Columns:",df.shape[1])

Rows: 9629
Columns: 9

## Save
In this section, I will save the finalized clean data set in a new directory so that I can load it into my EDA notebook.

In [37]:
file_path = "../Cleaned-Data/cleaned_cars.csv"
df.to_csv(file_path)